DATABASE_URL=

DJANGO_SECRET_KEY=
DJANGO_DEBUG=True

EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=true
EMAIL_USE_SSL=false
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_RECIPIENT_LIST=email1@exemplo.com,email2@exemplo.com

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
